{
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 120,
	"vueIndentScriptAndStyle": true,
	"plugins": ["prettier-plugin-jsdoc", "prettier-plugin-tailwindcss"]
}
